.container {
    padding: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-wrapper {
    margin-top: 15px;
}

.table-wrapper thead {
    border-bottom: 1px solid #000000;
}

.select {
    cursor: pointer;
}

#add-cargo-modal {
    border: none;
}

.add-cargo-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-cargo-form .cargo-name {
    font-weight: bold;
}

.add-cargo-form .modal-subtitle {
    margin-bottom: .5rem;
    font-weight: bold;
}