@import "~bootstrap/scss/bootstrap";

.container {
    padding: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-wrapper {
    margin-top: 15px;
}

.table-wrapper thead {
    border-bottom: 1px solid #000000;
}

.cargo-status {
    cursor: pointer;
}